/* Colaboradores*/

.container {
  text-align: center;
  /* Centraliza o conteúdo */
  width: 100%;
  /* Garante que ocupa a largura total */
  max-width: 1400px;
  margin: 0 auto;
}

.employee-name {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.employee-role {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.employees {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.employee {
  text-align: center;
  flex: 1;
}