/* Cabeçalho */
.header {
    min-height: 90vh;
    background-image: url("/images/main_banner4.png");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    position: relative;
    padding: 2rem;
  }
  
  .innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    background-color: var(--main-color);
    padding: 1rem;
  }
  
  .navbar {
    display: flex;
    gap: 2rem;
  }
  
  .navbar a {
    color: var(--primary-text-color);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Banners */
  .banner {
    max-width: 50%;
    padding: 4rem;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 2rem;
    transition: 0.6s;
  }
  
  .banner h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
  }
  
  .banner p {
    font-size: 1.3rem;
  }
  
  .banner.active {
    opacity: 1;
  }
  
  .square {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: -20px;
  }
  
  /* Dots */
  .dots {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }
  
  .dot.active {
    background-color: var(--main-color);
  }
  
  /* Footer */
  .footer {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer h2 {
    background-color: var(--main-color);
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  
  .footer p {
    margin: 0.5rem 0;
  }
  